@import "./reset.css";

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.3;
  color: #000;
  scroll-behavior: smooth;
}

.container {
  max-width: calc(1110px + 15px * 2);
  padding-inline: 15px;
  margin: 0 auto;
}

.header {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 100%;
  height: 100vh;
  /* background-color: #556983; */

  /* background: url("../images/header.jpg") 100% / cover; */
}

.header__title {
  margin-bottom: 25px;

  font-weight: 700;
  font-size: 56px;
  color: #fff;
}

.header__subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #fff;
}

.header__arrow {
  position: absolute;
  bottom: 30px;
  left: 50%;

  transform: translate(-50%, 0);
  max-width: 48px;
  aspect-ratio: 1;
}

/* Portfolio */

.portfolio {
  padding-block: 80px 115px;
}

.portfolio__title {
  margin-bottom: 70px;
  font-weight: 700;
  font-size: 46px;
  text-align: center;
}

.portfolio__cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  max-width: 540px;

  background-color: #fff;
  box-shadow: 0 10px 40px 0 rgba(126, 155, 189, 0.35);
  transition: transform 0.2s ease-in;
}
.card:hover {
  transform: translateY(-15px);
}

.card__link {
  display: block;
  padding: 20px;
  transition: color 0.2s ease-in;
}

.card__link:hover {
  color: rgb(39, 91, 236);
}

.card-img {
  margin-bottom: 20px;
}

.card-title {
  margin-bottom: 13px;
  font-weight: 600;
  font-size: 24px;
}

.card p {
  font-size: 16px;
}

/* Footer  */

.footer {
  padding-block: 45px 130px;
  background: #1e4776;
  color: white;
}

.footer__row {
  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  color: #7e9ec9;
}
.footer__copyright-name {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 15px;
}

.footer__copyright p {
  font-weight: 600;
  font-size: 16px;
}

/* icons */

.footer__icons p {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 16px;
}

.footer__list {
  display: flex;
  justify-content: space-between;

  max-width: 272px;
}

/* contacts */

.footer__contacts-button {
  display: inline-block;

  padding: 15px 30px;
  margin-bottom: 16px;

  border: 3px solid #fff;
  border-radius: 50px;

  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  transition: all 0.2s ease-in;
}
.footer__contacts-button:hover {
  background-color: white;
  color: #1e4776;
}

.footer__contacts p {
  max-width: 352px;
  font-size: 16px;
  color: #7e9ec9;
}

/* Project */

.project {
  padding-block: 80px 120px;
  text-align: center;
}

.title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 46px;
  text-align: center;
  color: #000;
}

.project__img {
  margin-bottom: 70px;
}
.project__img img {
  margin-inline: 0 auto;
}

.projects__description {
  max-width: 730px;
  margin-bottom: 60px;
  margin-inline: auto;

  text-align: center;
}
.projects__description p {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
}

.project__button {
  display: inline-block;
  text-wrap: nowrap;

  padding: 20px 20px;

  border: 3px solid #275bec;
  border-radius: 50px;

  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #275bec;

  transition: all 0.2s ease-in;
}

.project__button:hover {
  background-color: #275bec;
  color: #fff;
}


